<div class="product">
        <img src="../{{drinkimg}}" class = "product-photo">

        <p class="p-name">{{drinkname}} <strong class = "price">PHP {{price}}</strong></p>
        <text class ="size">{{size}}</text>

        <a class="edit">Edit</a><br><a class="remove">Remove</a>
        <a class="request">Request</a>

        <img class = "minus" src="images/minus.png">
            <text class="amt">{{amount}}</text>
            <img class = "plus" src="images/plus.png">

</div>
    