<div class="product">
        <img src="../{{drinkimg}}" class = "product-photo">

        <p class="p-name">{{drinkname}}</p><strong class = "price">PHP {{price}}</strong>
        <text class ="size">Size: {{size}}</text><br>
        <text class ='size'>Sugar Level: {{sugarlevel}}</text><br>
        <text class ='size'>Ice Level: {{icelevel}}</text><br>
        


        <a class="edit">Edit</a><br><a class="remove">Remove</a>
        <a class="request">Request</a>

        <img class = "minus" src="images/minus.png">
            <text class="amt">{{amount}}</text>
            <img class = "plus" src="images/plus.png">

</div>
    