<div class="order-container">
    <div class="order-item">
        <div class="order-details">
            <p class="order-number">{{orderno}}</p><br>
            <p><span class="item-quantity">{{quantity}}x</span> <span class="product-name">{{itemname}}</span> - <span class="item-size">{{itemsize}}</span></p>
            <br>
            <p>Date: <span class="order-date">{{orderdate}}</span></p>
            <p>Name: <span class="order-name">{{firstname}} {{lastname}}</span></p>
            <p>Amount Due: PHP <span class="order-amount">{{amountdue}}</span></p>
            <p>Status: <span class="status-inprogress ">{{status}}</span></p>
        </div>
    </div>
</div>