<html>
    <head>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
         <link rel="stylesheet" href="/css/menustyle.css">
         <style>
             .error-message {
                 color: #F07F19;
                 margin-top: 10px;
                 font-family: Verdana;
                 font-size: 14px;
             }
             .success-message {
                 color: green;
                 margin-top: 10px;
                 font-family: Verdana;
                 font-size: 14px;
             }
             .profile-edit-button:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
             }
         </style>
    </head>
    <body>
        <div id="nav-holder">
            {{> topnavbaruser}}
        </div>

        <div id="profile-page" class="category">
            <div class="profile-tab">
                <h1> Account Overview </h1>
                <h2> Profile </h2>
                <div class="info-card">
                    <div class="profile-info">
                        <p><span class="profile-def"> Name </span> <span class="profile-n">{{firstname}} {{lastname}}</span></p>
                    </div>
                </div>
                <div class="info-card">
                    <div class="profile-info">
                        <p><span class="profile-def"> Email </span> <span class="profile-n">{{email}}</span></p>
                    </div>
                </div>
                <div class="info-card">
                    <div class="profile-info">
                        <p><span class="profile-def"> Phone Number </span> <span class="profile-n">{{pnumber}}</span></p>
                    </div>
                </div>
                <div class="info-card">
                    <div id="last-login" class="profile-info">
                        <p><span id="lastlogin" class="profile-def"> Last Login Attempt: </span> <span class="profile-n">{{last_login_attempt}}</span></p>
                    </div>
                </div>
                <br><br>
                <h2> Payment Details </h2>
                <div class="info-card">
                    <div class="profile-info">
                        <p><span class="profile-def"> Payment Method </span> <span class="profile-n"></span></p>
                    </div>
                </div>
                <div class="info-card">
                    <div class="profile-info">
                        <p><span class="profile-def"> Method Number </span> <span class="profile-n"></span></p>
                    </div>
                </div>
                <br><br>
                <h2>Change Password</h2>
                <form id="change-password-form">
                    <div class="form-group">
                        <label for="old-password">Old Password:</label>
                        <input type="password" id="old-password" name="oldPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password">New Password:</label>
                        <input type="password" class="password" id="new-password" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="retype-new-password">Retype New Password:</label>
                        <input type="password" class="password" id="retype-new-password" name="retypeNewPassword" required>
                    </div>
                    <br/>
                    <div id="perror">{{error}}</div>
                    <br/> 
                    <button type="submit" class="button profile-edit-button" disabled>Change Password</button>
                </form>
                <div id="password-message"></div>
            </div>
        </div>

        <script>
            console.log(last_login_attempt);
            $(document).ready(function() {
                $("#change-password-form").submit(function(e) {
                    e.preventDefault();
                    const oldPassword = $("#old-password").val();
                    const newPassword = $("#new-password").val();
                    const retypeNewPassword = $("#retype-new-password").val();

                    $.ajax({
                        url: '/change-password',
                        method: 'POST',
                        data: {
                            oldPassword: oldPassword,
                            newPassword: newPassword,
                            retypeNewPassword: retypeNewPassword
                        },
                        dataType: 'json',
                        success: function(response) {
                            if (response.success) {
                                $("#password-message").html('<div class="success-message">' + response.message + '</div>');
                                setTimeout(function() {
                                    window.location.href = "/logout";
                                }, 2000);
                            } else {
                                $("#password-message").html('<div class="error-message">' + response.error + '</div>');
                            }
                        },
                        error: function(xhr) {
                            $("#password-message").html('<div class="error-message">An error occurred. Please try again.</div>');
                        }
                    });
                });

                $('.password').keyup(function() {
                    var pass = document.getElementById('new-password');
                    const value = pass.value.trim();
                    var nperror = document.getElementById('perror');

                    var regex = /^([^A-Z]*|[^a-z]*|[^-!@? .,]*|[^0-9]*)$/; // anything that matches this is invalid  

                    if(regex.test(value) || value.length < 8) {
                        nperror.innerHTML = 'New pssword must be at least 8 characters and contain at least 1 uppercase, 1 lowercase, 1 number, and 1 special character.';
                        $(".button profile-edit-button").prop('disabled', true);

                    } 
                    else if (value !== $("#retype-new-password").val()) {
                        nperror.innerHTML = 'New passwords do not match on both fields.';
                        $(".button profile-edit-button").prop('disabled', true);
                    }
                    else {
                        nperror.innerHTML = '';
                        $(".button profile-edit-button").prop('disabled', false)
                    }
                })
            });
        </script>
    </body>
</html>
